#logo {
  width: 800px;
  height: 600px;
  border: solid black 1px;
}

#input {
  color: whitesmoke;
  background-color: #222;
  width: 800px;
  height: 100px;
  font-family: monospace;
  font-size: 15pt;
}