#logo {
  width: 800px;
  height: 600px;
  border: solid black 1px;
}

#input {
  color: whitesmoke;
  background-color: #222;
  width: 800px;
  height: 100px;
  font-family: monospace;
  font-size: 15pt;
}

dt {
  font-family: monospace;
  font-weight: 800;
}

main {
  float: left;
}

#commandList {
  float: left;
}

#commandQueue {
  height: 100vh;
  overflow-y: scroll;
}